.raised {
  text-shadow:0px 1px 3px rgba(0,0,0,0.8);
  mask-image:gradient(linear,left bottom,left top,color-stop(0,rgba(0,0,0,0.8)),color-stop(0.6,white));
  -webkit-mask-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,rgba(0,0,0,0.8)),color-stop(0.6,white));
  -moz-mask-image:-moz-gradient(linear,left bottom,left top,color-stop(0,rgba(0,0,0,0.8)),color-stop(0.6,white));
  -o-mask-image:-o-gradient(linear,left bottom,left top,color-stop(0,rgba(0,0,0,0.8)),color-stop(0.6,white));
}
.vignette(@color, $offset) {
  background:-moz-radial-gradient(center ,circle cover,,#000000);
  background:-webkit-radial-gradient(center ,circle cover,,#000000);
  background:radial-gradient(center ,circle cover,,#000000);
}
html { min-height:100%; }
body {
  background:#fdf6e3;
  color:#657b83;
  font-family:'Open Sans', sans-serif;
  font-size:110%;
  padding:1em;
  min-height:100%;
}
code {
  background:#002b36;
  padding:0.1em 0.2em;
}
blockquote {
  color:#839496;
  background:#002b36;
  padding:0.5em;
}
#container a {
  color:#586e75;
  font-weight:bold;
  text-decoration:none;
  padding:0.1em 0.2em;
}
#container a:visited { color:#93a1a1; }
#container a:hover {
  color:#839496;
  background:#073642;
}
#header h1 {
  text-shadow:0px 1px 3px rgba(0,0,0,0.8);
  mask-image:gradient(linear,left bottom,left top,color-stop(0,rgba(0,0,0,0.8)),color-stop(0.6,white));
  -webkit-mask-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,rgba(0,0,0,0.8)),color-stop(0.6,white));
  -moz-mask-image:-moz-gradient(linear,left bottom,left top,color-stop(0,rgba(0,0,0,0.8)),color-stop(0.6,white));
  -o-mask-image:-o-gradient(linear,left bottom,left top,color-stop(0,rgba(0,0,0,0.8)),color-stop(0.6,white));
  margin:0.5em auto;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:4em;
  text-align:center;
  font-weight:bold;
  color:#dc322f;
}
#header h1 a { color:#586e75; }
#header h1 a:visited { color:#93a1a1; }
#header h1 a:hover {
  background:none;
  color:#93a1a1;
}
#content #content-inner { margin:1em 2em; }
#content p a { border-bottom:1px dotted ; }
#content h2 {
  font-family:'Open Sans', sans-serif;
  letter-spacing:0.07em;
  margin-bottom:0.1em;
  color:#000000;
}
#footer {
  font-size:0.8em;
  text-transform:lowercase;
  text-align:center;
  clear:both;
}
#footer p { margin:1em; }
#menu .menu {
  background:;
  box-shadow:0px 1px 3px rgba(0,0,0,0.8);
  border:2px solid #859900;
  border-radius:8px;
  padding:1em 0;
}
#menu ul {
  margin:0;
  padding:0;
  list-style:none;
}
#menu a {
  display:block;
  padding:1em 2em;
}
#menu a:link, #menu a:visited { color:#93a1a1; }
#menu a:hover { background:#eee8d5; }
.post hr {
  background:;
  margin-bottom:1.5em;
}
.post-meta {
  text-transform:uppercase;
  font-size:0.7em;
  font-family:'Open Sans', sans-serif;
  font-weight:bold;
  color:;
  margin:0 0 1.5em 0.5em;
}
.post-more { margin-bottom:1.5em; }
