/* solarized colors */
@base03:    #002b36;
@base02:    #073642;
@base01:    #586e75;
@base00:    #657b83;
@base0:     #839496;
@base1:     #93a1a1;
@base2:     #eee8d5;
@base3:     #fdf6e3;
@yellow:    #b58900;
@orange:    #cb4b16;
@red:       #dc322f;
@magenta:   #d33682;
@violet:    #6c71c4;
@blue:      #268bd2;
@cyan:      #2aa198;
@green:     #859900;

.raised {
	text-shadow: 0px 1px 3px rgba(0,0,0,0.8);
	
	mask-image: gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0,0.8)), color-stop(0.6, white));
	-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0,0.8)), color-stop(0.6, white));
	-moz-mask-image: -moz-gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0,0.8)), color-stop(0.6, white));
	-o-mask-image: -o-gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0,0.8)), color-stop(0.6, white));
}
.vignette(@color, @offset) {
	background: -moz-radial-gradient(center @offset, circle cover, @color, darken(@color, 18%));
	background: -webkit-radial-gradient(center @offset, circle cover, @color, darken(@color, 18%));
	background: radial-gradient(center @offset, circle cover, @color, darken(@color, 18%));
}

html {
	min-height: 100%;
}

body {
	background: @base3;
	.vignette(@base3, 0);
	color: @base00;
	font-family: Georgia, serif;
	font-size: 110%;
	padding: 1em;
	min-height: 100%;
}

code {
	background: @base03;
	padding: 0.1em 0.2em;
}

blockquote {
	color: @base0;
	background: @base03;
	padding: 0.5em;
}

#container {
	a {
		color: @base01;
		font-weight: bold;
		text-decoration: none;
		padding: 0.1em 0.2em;
		
		&:link {}
		&:visited { color: @base1; }
		&:hover { color: @base0; background: @base02; }
		&:active {}
	}
}

#header {
	h1 {
		.raised;
		
		margin: 0.5em auto;
		font-family: Open Sans Condensed, sans-serif;
		font-size: 4em;
		text-align: center;
		font-weight: bold;
		color: @red;
	}
	h1 a {
		color: @base01;
		&:link {}
		&:visited { color: @base1; }
		&:hover { background: none; color: @base1; }
		&:active {}
	}
}

#content {
	#content-inner {
		margin: 1em 2em;
	}
	
	p a {
		border-bottom: 1px dotted @medium_dark;
	}
	
	h2 {
		font-family: 'Lobster', 'Trebuchet MS', sans-serif;
		letter-spacing: 0.07em;
		margin-bottom: 0.1em;
		color: darken(@dark, 20%);
	}
}

#footer {
	font-size: 0.8em;
	text-transform: lowercase;
	text-align: center;
	clear: both;
	
	p {
		margin: 1em;
	}
}

#menu {

	.menu {
		background: @dark;
		box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
		border: 2px solid @green;
		border-radius: 8px;
		padding: 1em 0;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul li {
		
	}
	
	a {
		display: block;
		padding: 1em 2em;
		
		&:link, &:visited { color: @base1; }
		&:hover { background: @base2; }
		&:active {}
	}
}

.post {
	hr { background: @medium_dark; margin-bottom: 1.5em; }
}
.post-meta {
	text-transform: uppercase;
	font-size: 0.7em;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	color: @medium_dark;
	margin: 0 0 1.5em 0.5em;
}
.post-more {
	margin-bottom: 1.5em;
}
